html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Style for the container div */
.container {
    text-align: center;
}

.mediacard {
    width: 200px;
    border-radius: 10%;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    transition: border 0.3s;
}

.mediacard:hover{
    border: 1px solid #ccc;
}

.card-pic {
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 20%;
}

.mediacard-text {
    margin-top: 10px;
}

.mediacard-text h2 {
    font-size: 18px;
    margin: 0;
}

.mediacarde-text p {
    font-size: 14px;
    margin: 0;
    color: #666;
}