body {
    background-color: #221a0f;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: white;
    transition: all 0.8s;
}

p {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 18em;
    width: 14em;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}


.image {
    height: 10em;
    width: 14em;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    transition: all 0.8s;
    background-image: url("images/pexels-pixabay-45246.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-title {
    height: 1em;
}

.description {
    font-size: 1em;
    background-color: #41321f;
    color: white;
    height: 10em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    transition: all 0.8s;
    padding: 0.5em 1em;
    text-align: center;
}

.icons {
    color: white;
    width: 1em;
    height: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 1em;
    left: 1em;
    transition: all 0.8s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.card:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.521);
}

.card:hover .description {
    height: 0em;
    padding: 0px 1em;
}

.card:hover .image {
    height: 18em;
}

.card:hover .icons {
    color: black;
}

.card:hover h5 {
    font-size: 2em;
}

